/*header*/
header{
    align-items: center;
    max-width: 800px;
}

/*h2{
    text-align: center;
}*/

p{
    text-align: center;
}






















/* fonts*/ 

@font-face {
  font-family: 'Arty Signature';
  src: url('http://www.fontsaddict.com/fontface/arty-signature.ttf');
} 



